<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">
        <a routerLink="/options"
        routerLinkActive="active">
        <img class="chacana"
            src="../assets/rsz_coa_illustration_cross_chakanasvg.jpg" />    
          </a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td class="item">
        <div>{{ category.category }}</div>
      </td>
    </tr>
  </tbody>
</table>
