<div class="container">
  <button button expand="block" class="medium" (click)="changeTheme('autumn')">Autumn</button>
  <button button expand="block" class="medium" (click)="changeTheme('night')">Dark</button>
  <button button expand="block" class="medium" (click)="changeTheme('neon')">Neon</button>
  <button button expand="block" class="medium" (click)="changeTheme('')">Default</button>
  <hr>
  <div class="swatch-container">
    <div class="swatch primary">1</div>
    <div class="swatch secondary">2</div>
    <div class="swatch dark">5</div>
    <div class="swatch color-base">1</div>
    <div class="swatch color-contrast">2</div>
    <div class="swatch background-color text-color">3</div>
    <div class="swatch toolbar-background-color toolbar-text-color">4</div>
    <div class="swatch item-background-color item-text-color">5</div>
    <div class="swatch swatch_6">6</div>
  </div>
  <hr>
  <piotrek-form [form]="formState" (actionsEmitted)="onFormActions($event)"></piotrek-form>
