.container {
    background-color: var(--ion-color-light-tint);
}
.what {
  color: var(--ion-color-medium-tint);
}
.primary { background-color: var(--primary) }
.secondary { background-color: var(--secondary) }
.tertiary { background-color: var(--tertiary) }
.medium { background-color: var(--medium) }
.dark { background-color: var(--dark) }
.autumn { background-color: var(--autumn) }

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.spin {
    animation: spin var(--speed) linear infinite;
}

ion-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    width: 500px;
}