<form [formGroup]="myForm">
    <mat-form-field class="example-full-width">
        <input matInput
            placeholder="Go for it"
            [formControl]="myForm.controls['categoryFG']"/>
        <mat-error *ngIf="myForm.controls['categoryFG'].hasError('required')">
            Required!
        </mat-error>
        <mat-error *ngIf="myForm.controls['categoryFG'].hasError('maxlength')">
            Too long!
        </mat-error>
    </mat-form-field>
    <div>
        <button mat-button color="primary" type="submit"
        [disabled]="!form.isValid">Submit</button>
    </div>

    <mat-form-field>
      <mat-label>{{catObject.category}}</mat-label>
      <mat-select *ngIf="categories$">
        <mat-option *ngFor="let category of categories" [value]="catObject.category">
          <span *ngIf="category">{{category.category}}</span>
        </mat-option>
      </mat-select>
    </mat-form-field>

</form>
<p>Form: {{form | json}}</p>
