<form [formGroup]="myForm">
    <mat-form-field class="example-full-width">
        <input matInput 
            placeholder="Go for it" 
            [formControl]="myForm.controls['category']"/>
        <mat-error *ngIf="myForm.controls['category'].hasError('required')">
            Required!
        </mat-error>
        <mat-error *ngIf="myForm.controls['category'].hasError('maxlength')">
            Too long!
        </mat-error>
    </mat-form-field>
    <div>
        <button mat-button color="primary" type="submit" 
        [disabled]="!form.isValid">Submit</button>
    </div>
</form>
<p>Form: {{form | json}}</p>
