<nav class="navbar d-flex toolbar-background">
  <a class="navbar-brand"
    routerLink="/">
    <span>{{ (entities$ | async)?.length }}</span>
    {{ (config$ | async)?.adminName }} - {{ (config$ | async)?.language }}
  </a>
  <div class="d-flex justify-content-end">
    <ul class="d-flex navbar-nav flex-row align-items-center">
      <li class="nav-item">
        <a routerLink="/entities"
          routerLinkActive="active">Entities</a>
      </li>
    </ul>
  </div>
</nav>
<div class="app-container content">
  <router-outlet></router-outlet>
</div>
<div *ngIf="error$ | async as error" class="error">{{error.message}}</div>
