.error {
    margin: 20px 0;
    padding: 8px;
    background: lightcoral;
    color: darkred;
}

.toolbar-background {
    background-color: var(--ion-color-light-tint);
}

.content {
    background-color: var(--ion-color-light-tint) !important;
    color: black;
}

.item-md {
    min-width: 100%;
    color: var(--ion-color-dark);
    background-color: var(--ion-color-light-tint);;
}
